fastapi
uvicorn
python-multipart
pymupdf
opencv-python
pdf2image
Pillow
google-genai
python-dotenv
google-cloud-storage
google-cloud-documentai
google-api-python-client
google-auth-oauthlib
google-auth-httplib2
pydantic
google-cloud-aiplatform
PyWavelets>=1.4.1